{% extends 'base.html' %}
{% block page_title %}About us{% endblock %}
{% block page_heading %}About us{% endblock %}
{% block content %}

<div class="container-fluid page-width-container">

    <div class="marg-bottom-50 marg-top-50">
        <!--Introduction/background-->
        <h4 class="sub-headers">A bit of backgound.....</h4>

        <p>The Chocify story started in 2003 in a village nr Bath in the UK by a father-daughter team, Kerr Dunlop and Flo Broughton. 
        Kerr is an accomplished inventor (in the 1980s he designed the immensely popular hedgehog boot wiper), and was messing around with 
        chocolate in the kitchen one day, with a recently graduated Flo. Together they were filling rubber moulds shaped as noughts and 
        crosses thinking that that they would make rather nice presents for the family.<br>

        The pair of them devised a business idea and soon they made enough chocolates to take to a trade show in Birmingham. To their 
        astonishment, they came back from the show with a lot of orders from several shops.<br>

        Flo and Kerr had to quickly buy some equipment and teach themselves how to make chocolate in order to delight their new found 
        customers. They also needed to stand out from the crowd, so came up with the original, and now patented, idea of layering 
        chocolate on top of chocolate, creating beautiful and unique designs. Chocify was born!Their original noughts and crosses 
        product became ‘Love and Kisses’ and is still stocked to this day.
        </p>

        <!--About us page image 1-->
        <div class="row justify-content-center">
            <img class="img-fluid about-img" src="/static/images/about-us2.jpg" alt="Images of products including chocolate knitting, biscuits and gin and tonic">
        </div>

        <!--Chocolate innovation-->
        <h4 class="sub-headers">Chocolate innovation</h4>

        <p>Constant innovation is important for us, we still have some of our very first designs on offer but we recognise that people want 
        to give gifts that are a little bit different”.<br>

        Over the past ten years Chocify has become a firm fixture in a number of big High Street retailers including John Lewis, 
        Selfridges and Waitrose to name but a few. Chocify’s unique creations are now stocked in over 200 retailers in the UK and 
        abroad in Japan, USA, Australia and across Europe.</p>

        <!--Made in Britain-->
        <h4 class="sub-headers">Made in Britain</h4>

        <p>We love being a true British brand offering such a unique range of handmade chocolate and continue to grow the business on this basis”.
        The company is still based in Rode Village, Bath, but has moved to bigger premises with a fully functioning team and some serious equipment.
        Kerr makes the chocolate moulds in ‘his shed’ while Flo runs the business, they design the chocolates together. Even though the business has 
        grown, they still make all their chocolate by hand and staff receive in-depth training to do so. They currently produce approximately 63,000+ 
        chocolates a week.<br>

        Chocify pride themselves on the superb high quality of their Belgian chocolate and the way they have taken a fantastic product and hand 
        craft it into something original. Designs such as shoes and handbags are big favourites.<br>

        It is amazing to see us in so many recognisable high street retailers but we also love and treasure the numerous boutique shops around the 
        world that stock us and who have been such wonderful supporters in getting us to where we are today.</p>

        <!--About us page image 2-->
        <div class="row justify-content-center">
            <img class="img-fluid about-img" src="/static/images/about-image.jpg" alt="Images of chocolate truffles and drops in a jar, picture of the outside of the shop and staff in kitchen">
        </div>
        <hr>

        <!--Back to top of page link-->
        <div class="row justify-content-center">
            <a href="#back-to-top" class="back-to-top-link">Back to top</a>
        </div>
        
    </div>

</div>

{% endblock %} 