{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Contact us{% endblock %}
{% block page_heading %}Contact us{% endblock %}

{% block content %}

<div class="container-fluid page-width-container">
    <p class="contact-text">We'd love to hear from you! Get in touch by filling in this form and sending us a message.</p>
    <div class="contact-block">
        <!--Contact us form-->
        <form id="contact-form" method="POST" >
            {% csrf_token %} 
            {{ contact_form | as_bootstrap }}
            <button type="submit" class="btn blue-btn log-reg-btn">Send</button>
        </form>
    </div>
</div>

{% endblock %} 

<!--Block with Javascript that Emailjs requires to email contact form-->
{% block email_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
<script type="text/javascript">
        const emjs = '{{emjs_id}}';
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{% endblock %}