{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %} 
{% load static from staticfiles %}
{% block content %}

<!--hero image carousel-->
<header class="hero">
    <div id="hero-carousel-indicators" class="carousel slide" data-ride="carousel">
        <!--carousel indicators-->
        <ol class="carousel-indicators">
            <li data-target="#hero-carousel-indicators" data-slide-to="0" class="active"></li>
            <li data-target="#hero-carousel-indicators" data-slide-to="1"></li>
            <li data-target="#hero-carousel-indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <!--carousel image one-->
            <div class="carousel-item active">
                <a href="{% url 'products' %}">
                    <img class="d-block w-100" src="{% static 'images/chocify_hero1.jpg' %}" alt="A selection of 3 chocolate products that look like real fruit and veg">
                    <div class="carousel-caption caption-style">
                        <h3>'Healthy' Treats</h3>
                        <p>The new way to say you eat your fruit and veg!</p>
                    </div>
                </a>
            </div>
            <!--carousel image two-->
            <div class="carousel-item">
                <a href="{% url 'products' %}">
                    <img class="d-block w-100" src="{% static 'images/chocify_hero2.jpg' %}" alt="A selection of 3 chocolate products that look like real tools">
                    <div class="carousel-caption caption-style">
                        <h3>'Handy' Treats</h3>
                        <p>Put your tools down and replace them with a snack</p>
                    </div>
                </a>
            </div>
            <!--carousel image three-->
            <div class="carousel-item">
                <a href="{% url 'products' %}">
                    <img class="d-block w-100" src="{% static 'images/chocify_hero3.jpg' %}" alt="Chocolate versions of classic snacks and treats">
                    <div class="carousel-caption caption-style">
                        <h3>Everything is choc!</h3>
                        <p>Replace all your treats with a chocolate version</p>
                    </div>
                </a>
            </div>
        </div>
        <!--carousel control previous-->
        <a class="carousel-control-prev" href="#hero-carousel-indicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <!--carousel control next-->
        <a class="carousel-control-next" href="#hero-carousel-indicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container-fluid page-width-container marg-bottom-50">
    <h2 class="center-text pink-text marg-top-50">Welcome to Chocify!</h2>
    <p class="home-intro marg-top-20">Find the perfect gift for any occasion with our range of luxury Belgian chocolates handcrafted in the heart of Somerset.
    Whether you're looking for boxed chocolates, luxury hampers or truffles, our large range of award-winning chocolate shapes
    are a dream to receive, share or savour to yourself.</p>
    <p class="home-intro marg-top-20">Choc on Choc’s delicious creations are crafted from the finest white, milk and dark Belgian chocolate using the brand’s
    patented production method, which layers chocolate on top of chocolate, enabling its master chocolatiers to create 
    confectionery in any design imaginable.
    </p>
    <div class="row justify-content-center marg-top-20 marg-bottom-40">
        <div class="col-8 col-md-3">
            <a class=" btn btn-block blue-btn" href="{% url 'about_us' %}" role="button">Find out more</a>
        </div>
    </div>
    <hr>
    <h3 class="center-text pink-text marg-top-50">Categories</h3>
    <div class="row justify-content-center">
        {% for category in categories %}
        <div class="col-md-6 col-lg-4 cat-container">
            <figure><a class="home-cat-link" href="{{category.get_absolute_url}}">
                <img class="img-fluid category-img" src="{{ MEDIA_URL }}{{ category.image }}">
                <div class="cat-name"><h4>{{ category.name }}</h4></div>
            </a></figure>
        </div>
        {% endfor %}
    </div>

    <!--Back to top of page link-->
    <div class="row justify-content-center">
        <a href="#back-to-top" class="back-to-top-link">Back to top</a>
    </div>
</div>

{% endblock %} 