{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}Privacy policy{% endblock %}
{% block page_heading %}Privacy policy{% endblock %}
{% block content %}

<div class="container-fluid page-width-container">
    <div class="info-pages-container">
        <!--Introduction-->
        <p>Chocify is committed to protecting your privacy, and takes its responsibilities regarding the 
        security of customer information very seriously. This policy explains how we use any customer information
        and how we protect your privacy. All such information is referred to in this statement as 'personal information'. 
        This policy applies to the chocify website only and not to other websites to which we may provide links.
        </p>
        <hr>
        <!--Privacy info-->
        <h4 class="sub-headers">Your consent</h4>
        <p>By using this website and/or providing personal information you are indicating your consent to our obtaining personal 
        information from you and to the holding, use and/or transfer of the personal information that is provided by or obtained 
        from you in accordance with this policy.
        </p>

        <h4 class="sub-headers">Holding and use of personal information</h4>
        <p>The personal information that is provided by or obtained from you is used and/or held by us for the following purposes:
        </p>
        <ul>
            <li>To communicate with you in accordance with this policy.</li>
            <li>To offer our own and third party services and products suited to you.</li>
            <li>Inform you of new features and promotions on the chocify website.</li>
            <li>To enhance your experience of the chocify website by identifying your personal preferences.</li>
        </ul>

        <h4 class="sub-headers">Transfer of personal information</h4>
        <p>The personal information that is provided by or obtained from you may be transferred to third parties for the following purposes:</br>
        To the relevant authorities to the extent necessary or appropriate to comply with applicable laws or as may be required in legal proceedings.
        </p>

        <h4 class="sub-headers">Obtaining, use and transfer of general information</h4>
        <p>By using session variables and tracking visitors to our website we will obtain general information about those visitors.That information would 
         include, for example, the number of visitors, the pages they visit, how long each visit lasts, how often visitors return to our
         website, etc. We may also aggregate such information with certain of the personal information provided by or obtained from visitors to enable us 
         to analyse or categorise visitors and their preferences.
         </p>

        <h4 class="sub-headers">Such general or aggregated information may be held or used by us for the following purposes</h4>
        <ul>
            <li>Our own research purposes.</li>
            <li>For marketing purposes.</li>
            <li>To create a better overall experience for our users.</li>
            <li>To ensure a more efficient service for our users.</li>
        </ul>

        <h4 class="sub-headers">Changes to personal information:</h4>
        <p>If you would like to remove all or any of your personal details from our data base you should <a class="contact-us-link" href="{% url 'contact_us' %}">Contact us</a>
        This privacy policy sets out how Chocify uses and protects any information that you give Chocify when you use this website. Chocify is committed
        to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website,
         then you can be assured that it will only be used in accordance with this privacy statement. Chocify may change this policy from time to time 
         by updating this page. You should check this page from time to time to ensure that you are happy with any changes.
         </p>

    </div>
</div>

{% endblock %}