{% extends 'base.html' %}
{% block page_title %}Terms and conditions{% endblock %}
{% block page_heading %}Terms and conditions{% endblock %}
{% block content %}

<div class="container-fluid page-width-container">
    <div class="info-pages-container">
        <!--Introduction-->
        <p>Terms and conditions for the supply of goods through a website - business to consumer.
        At Chocify we are committed to providing an excellent service. If you have sent, or indeed received a gift with which you are 
        not entirely happy, please contact us with your comments; we need to know if we can improve, and will do all we can to put it right
        for you. We endeavour to respond to all complaints within 24 hours.
        </p>
        <hr>
        <!--Terms info-->
        <h5 class="sub-headers">1. The contract between us</h5>
        <p>We must receive payment of the whole of the price for the goods that you order before your order can be accepted. Once payment has 
        been received by us we will confirm that your order has been accepted by sending an email to you at the email address you provide in 
        your order form. Our acceptance of your order brings into existence a legally binding contract between us. No order is accepted by 
        Chocify until the order has been checked & approved. If there is a problem we will e-mail you within three working days
        </p>

        <h5 class="sub-headers">2. Our right to refuse your order</h5>
        <ul>
            <li>2.1 We reserve the right to refuse to accept your order for any reason including, without limitation and whether or not 
            payment has been received by us, if:</li>
            <li>2.1.1 we have insufficient stock to deliver the goods you have ordered.</li>
            <li>2.1.2 we do not deliver to your area; or</li>
            <li>2.1.3 one or more of the goods you ordered was listed at an incorrect price due to a typographical error or an error in the
            pricing information received by us from our suppliers.</li>
            <li>2.2 If we do refuse your order we will notify you by e-mail and will re-credit to your account any sum deducted by us from 
            your credit card as soon as possible but in any event within 30 days of your order. We will not be obliged to offer any additional
            compensation for disappointment suffered.</li>
        </ul>

        <h5 class="sub-headers">3. Price</h5>
        <ul>
            <li>3.1 The prices payable for goods that you order are as set out in our website.</li>
            <li>3.2 You may be required to pay extra for delivery and it might not be possible for us to deliver to some locations. Our delivery 
            charges are set out in our website.</li>
            <li>3.3 We take payment at the time of order, not necessarily the time of despatch. This is to ensure there are no last minute hitches 
            to getting your gift delivered on time.</li>
            <li>3.4 Any offers we make are designed to be used independently, and are not available in conjunction with any other offer.</li>
        </ul>

        
        <h5 class="sub-headers">4. Delivery of goods to you</h5>
        <ul>
            <li>4.1 We will deliver the goods ordered by you to the address you give us for delivery at the time you make your order.</li>
            <li>4.2 Delivery will be made as soon as possible after your order is accepted and in any event within 5 days of your order.</li>
            <li>4.3 You will become the owner of the goods you have ordered when they have been delivered to you. Once goods have been delivered
            to you they will be held at your own risk and we will not be liable for their loss or destruction.</li>
            <li>4.4 We reserve the right to edit any message that contains offensive and/or inappropriate content.</li>
        </ul>

        
        <h5 class="sub-headers">5. Notices</h5>
        <p>Unless otherwise expressly stated in these terms and conditions, all notices from you to us must be in writing and sent to us via the
        <a class="pink-link" href="{% url 'contact_us' %}">Contact us</a> page or by post to Chocify, High Street, Rode, Bath, BA11 6PA.
        </p>


        <h5 class="sub-headers">6. Events beyond our control</h5>
        <p>We shall have no liability to you for any failure to deliver goods you have ordered or any delay in doing so or for any damage or defect to goods 
        delivered that is caused by any event or circumstance beyond our reasonable control including, without limitation, strikes, lock-outs and other 
        industrial disputes, breakdown of systems or network access, flood, fire, explosion or accident.
        </p>
        

        <h5 class="sub-headers">7. Privacy</h5>
        <p>You acknowledge and agree to be bound by the terms of our privacy policy.
        </p>

        
        <h5 class="sub-headers">8. Governing law</h5>
        <p>The contract between us shall be governed by and interpreted in accordance with English law and the English courts shall have jurisdiction to 
        resolve any disputes between us.
        </p>

        <h5 class="sub-headers">9. Entire agreement</h5>
        <p>These terms and conditions, together with our current website prices, delivery details, contact details and privacy policy, set out the whole of 
        our agreement relating to the supply of the goods to you by us and except where you are dealing as a consumer:
        </p>
        <ul>
            <li>9.1 Nothing said by any sales person on our behalf should be understood as a variation of these terms and conditions or as an authorised 
            representation about the nature or quality of any goods offered for sale by us; and,</li>
            <li>9.2 Save for fraud or fraudulent misrepresentation, we shall have no liability for any such representation being untrue or misleading.</li>
        </ul>
        <hr>

        <!--Back to top of page link-->
        <div class="row justify-content-center">
            <a href="#back-to-top" class="back-to-top-link">Back to top</a>
        </div>

    </div>
</div>

{% endblock %}