{% load i18n %}
{% autoescape off %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

<p>Please click the link below or copy it into your browser to create a new password:</p>

{% block reset_link %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

Thanks for using our site! The {{ site_name }} team

{% endautoescape %}