{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}
{% block page_heading %}Set your new password{% endblock %} 
{% block content %}
    {% if validlink %}
    <div class="container-fluid short-content marg-top-40">
        <div class="center-text">
            <p class="marg-bottom-20">Please enter your new password below.</p>
            <form action="" method="post" class="accountform">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.new_password1.errors }}
                <p><label for="id_new_password1">New password:  </label>{{ form.new_password1 }}</p>

                {{ form.new_password2.errors }}
                <p><label for="id_new_password2">Confirm password:  </label>{{ form.new_password2 }}</p>

                <button type="submit" class="btn blue-btn marg-top-40" value="Change my password">Change my password</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="container-fluid short-content marg-top-40">
        <div class="center-text">
            <h3 class="marg-bottom-20">Password reset unsuccessful</h3>
            <p class="marg-bottom-20">Sorry, this password reset link was invalid, please request a new password reset.</p>
            <a href="{% url 'password_reset' %}" class="btn blue-btn empty-cart-btn" role="button">Reset password</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
