{% extends "base.html" %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}

<div class="container-fluid page-width-container short-content marg-top-40 marg-bottom-40">
    <div class="center-text">
        <!--Form for user to enter email address to receive password reset email-->
        <form method="post">
            <p>Please enter your email address and we'll send you instructions for setting up your new password.</p>
            <br>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}
            <p><label for="id_email">E-mail address: </label> {{ form.email }}</p>
            <button type="submit" class="btn blue-btn" value="Reset password">Reset password</button>
        </form>
    </div>
</div>

{% endblock %}