{% extends "base.html" %}
{% block title %}Password reset successful{% endblock %}
{% block page_heading %}Password reset email sent{% endblock %}
{% block content %}
<div class="container-fluid page-width-container short-content email-sent">
    <p class="center-text marg-top-40">We've e-mailed you instructions for setting up your new password to the e-mail address you submitted.  If an account with this
    email exists, you will receive an email shortly.</p> 
    
    <p class="center-text">If you do not receive and email, please make sure you have entered the email 
    address correctly and check your spam folder.</p>
</div>
{% endblock %}