{% load i18n %}
{% autoescape off %}
{% load static from staticfiles %}

<img src="{% static 'images/chocify_logo.jpg' %}" alt="Chocify logo">

Hello there!

You're receiving this email because you requested a password reset for your user account at Chocify.

Please click the link below or copy it into your browser to create a new password:

{% block reset_link %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

Thanks for using our site! 

The Chocify team x x

{% endautoescape %}