{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}
{% block page_heading %}{{ category.name }}{% endblock %}
{% block content %}

<div class="container-fluid page-width-container short-content marg-bottom-50">

    <!--Products display-->
    <div class="row justify-content-center">
        {% for product in products %}
        <div class="col-xs-12 col-md-4 col-lg-3 card marg-bottom-30 marg-top-30">
            <!--Image, title and price display-->
            <img class="img-fluid product-img" src="{{ MEDIA_URL }}{{ product.image1 }}"> 
            <a class="marg-top-20 pink-link" href="{{ product.get_absolute_url }}"><h5>{{ product.title }}</h5></a>
            <p class="product-block-price pink-text"><i class="fas fa-pound-sign pound-sign"></i>{{ product.price }}</p>
            <!--Add to cart form-->
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control add-cart-input" placeholder="Qty">
                    <span class="input-group-btn justify-content-left">
                        <button class="btn add-cart-btn" type="submit">Add to cart</button>
                    </span>
                </div>
            </form>  
            <hr class="product-block-hr"> 
        </div>
        {% endfor %}
    </div>
    <!--Back to all products page link-->
    <div class="row justify-content-center">
        <a href="{% url 'products' %}" class="back-all-prods marg-top-30">View all products</a>
    </div>
</div>

{% endblock %}