{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid individual-product-width marg-top-50 marg-bottom-50">
    <!--Top image and intro section-->
    <section>
        <div class="row">
            <div class="col-md-12 col-xl-6">
                <!--Main image-->
                <img id="main-img" class="product-img" src="{{ MEDIA_URL }}{{ products.image1 }}">
                <!--Image thumbnails-->
                <div class="row img-thumbnails">
                    <div class="col-3">
                        <img class="product-img prod-thumb" src="{{ MEDIA_URL }}{{ products.image1 }}">
                    </div>
                    <div class="col-3">
                        <img class="product-img prod-thumb" src="{{ MEDIA_URL }}{{ products.image2 }}">
                    </div>
                    {% if products.image3 %}
                    <div class="col-3">
                        <img class="product-img prod-thumb" src="{{ MEDIA_URL }}{{ products.image3 }}">
                    </div>
                    {% endif %}
                    {% if products.image4 %}
                    <div class="col-3">
                        <img class="product-img prod-thumb" src="{{ MEDIA_URL }}{{ products.image4 }}">
                    </div>
                    {% endif %}
                </div>
            </div>
            <!--Products title, price and introduction-->
            <div class="col-md-12 col-xl-6 indiv-prod-top-right">
                <h3 class="pink-text marg-top-30">{{ products.title }}</h3>
                <p class="product-details-price pink-text"><i class="fas fa-pound-sign pound-sign"></i>{{ products.price }}</p>
                <!--Add to cart form-->
                <form method="post" action="{% url 'add_to_cart' products.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control add-cart-input" placeholder="Qty" required>
                        <span class="input-group-btn justify-content-left">
                            <button class="btn add-cart-btn" type="submit">Add to cart</button>
                        </span>
                    </div>
                </form>
                <p class="marg-top-50">{{ products.introduction }}</p>
            </div>  
        </div>
    </section>
    <!--Middle details section-->
    <section>
        <div class="row marg-bottom-40">
            <div class="col-12">
                <div class="row marg-top-50">
                    <div class="col-md-12 col-xl-6 ">
                        <h3 class="pink-text">Details</h3>
                        <p class="prod-info">{{ products.details }}</p>
                    </div>   
                    <div class="col-md-12 col-xl-6">
                        <h3 class="pink-text">Ingredients</h3>
                        <p class="prod-info">{{ products.ingredients }}</p>
                    </div> 
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3 class="center-text pink-text">Chocolate types in {{ products.title }}</h3>
        <div class="row justify-content-center marg-top-50">
            {% if products.milk_choc %}
            <div class="col-12 col-md-3 marg-bottom-20">
                <img class="product-img" src="/static/images/milk_choc.jpg">
                <h6 class="center-text pink-text marg-top-20">Milk choc</h6>
            </div>
            {% endif %}
            {% if products.white_choc %}
            <div class="col-12 col-md-3 marg-bottom-20">
                <img class="product-img" src="/static/images/white_choc.jpg">
                <h6 class="center-text pink-text marg-top-20">White choc</h6>
            </div>
            {% endif %}
            
            {% if products.dark_choc %}
            <div class="col-12 col-md-3 marg-bottom-20">
                <img class="product-img" src="/static/images/dark_choc.jpg">
                <h6 class="center-text pink-text marg-top-20">Dark choc</h6>
            </div>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <a href="{% url 'products' %}" class="back-all-prods">Back to all products</a>
        </div>
    </section>
</div>  


        
{% endblock %}