{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Shop all{% endblock %}
{% block content %}

<!--Display if no search results found-->
{% if not products %}
<div class="container-fluid short-content no-results" >
    <div class="center-text">
        <h2 class="pink-text">Sorry, no results found for your search</h2>
        <a class="btn blue-btn marg-top-30 marg-bottom-50" href="{% url 'products' %}" role="button">All Products</a>
    </div>
</div>
{% endif %}

<!--Display for all products page and when search results found-->
{% if products %}
<div class="container-fluid page-width-container">
    <!--Individual category links, does not display for search result-->
    <section class="d-none d-md-block">
        <div class="row justify-content-center marg-bottom-50">
            {% for category in categories %}
            <div class="col-sm-6 col-md-3 col-lg-2 marg-top-20">
                <a href="{{category.get_absolute_url}}"><img class="img-fluid product-img" src="{{ MEDIA_URL }}{{ category.image }}"></a>
                <a class=" btn btn-block cat-link-btn" href="{{category.get_absolute_url}}" role="button">{{ category.name }}</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <hr>

    <!--Products display-->
    <section>
        <h2 class="page-headers">All Products</h2>
        <div class="row justify-content-center">
            {% for product in products %}
            <div class="col-xs-12 col-md-4 card marg-bottom-30 marg-top-30">
                <!--Image, title and price display-->
                <a href="{{ product.get_absolute_url }}"><img class="img-fluid product-img" src="{{ MEDIA_URL }}{{ product.image1 }}"></a>
                <a class="marg-top-20 pink-link" href="{{ product.get_absolute_url }}"><h5>{{ product.title }}</h5></a>    
                <p class="product-block-price pink-text"><i class="fas fa-pound-sign pound-sign"></i>{{ product.price }}</p>
                <!--Add to cart form--> 
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control add-cart-input" placeholder="Qty" required>
                        <span class="input-group-btn justify-content-left">
                            <button class="btn add-cart-btn" type="submit">Add to cart</button>
                        </span>
                    </div>
                </form> 
                <hr class="product-block-hr"> 
            </div>
            {% endfor %} 
        </div>

        <!--Pagination-->
        <div class="row justify-content-center marg-top-50 marg-bottom-40">
            {% if products.has_other_pages %}
            <ul class="pagination">
                <!--Arrow that is an active link if there is a previous page and disabled when not-->
                {% if products.has_previous %}
                <li class="pagination-arrow"><a href="?page={{ products.previous_page_number }}"><i class="fas fa-arrow-left"></i></a></li>
                {% else %}
                <li class="disabled pagination-arrow"><i class="fas fa-arrow-left"></i></li>
                {% endif %}
                <!--Displays number of pages, highlights current page and links to page num that is clicked-->
                {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                <li class="active page-num current-page"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-num"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                <!--Arrow that is an active link if there is a next page and disabled when not-->
                {% if products.has_next %}
                <li class="pagination-arrow"><a href="?page={{ products.next_page_number }}"><i class="fas fa-arrow-right"></i></a></li>
                {% else %}
                <li class="disabled pagination-arrow"><i class="fas fa-arrow-right"></i></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </section>

    <!--Back to top of page link-->
    <div class="row justify-content-center">
        <a href="#back-to-top" class="back-to-top-link marg-bottom-50">Back to top</a>
    </div>
</div>
{% endif %}

{% endblock %}
