/*--------------------------------- Main Navigation*/
.nav {
    border-bottom: 8px solid #43281e;
} 

.nav-link-colour {
    color: #f09583;
    margin-right: 20px;
    transition: 0.5s;
}

.nav-link-colour:hover {
    color: #43281e;
}

.navbar-toggler-icon {
    color: #43281e;
    margin-top: 10px;
    font-size: 30px;
}

.navbar-toggler {
    padding: 4px 0px;
}

.nav-icon {
    font-size: 20px;
}

/*--------------------------------- General*/
.page-width-container, .cart-width-container {
    max-width: 80%;
}

.page-headers {
    text-align: center;
    margin-top: 20px;
    color: #f09583;
}

.button-colour {
    background-color: #42C0FB;
    color: white;
}

.margin-top-50px {
    margin-top: 50px;
}

/*--------------------------------- All products page*/

.category-links {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.product-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    border: solid 2px #f09583;
    box-shadow: 9px 9px 10px -8px rgba(0,0,0,0.46);
        -webkit-box-shadow: 9px 9px 10px -8px rgba(0,0,0,0.46);
            -moz-box-shadow: 9px 9px 10px -8px rgba(0,0,0,0.46);
}

.product-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-title {
    color: #43281e;
    margin-top: 20px;
}

.card {
    border: none;
}

.product-block-price {
    color:#f09583;
    font-size: 1.25em;
    margin-top: 10px;
}

.add-cart-input {
    margin-right: 20px;
    max-width: 20%;
}

.form-control {
    padding: 6px;
}

.add-cart-btn, .cat-link-btn {
    background-color:#f09583;
    color: white;
    transition: 0.5s;
}

.add-cart-btn:hover, .cat-link-btn:hover {
    background-color: #baa999;
    color: white;
}

.pound-sign {
    margin-right:5px;
}

.product-block-hr {
    background-color: #baa999;
    margin-top: 50px;
}

/*--------------------------------- Individual product page*/

.individual-product-width {
    max-width: 60%;
}
 
.img-thumbnails {
    margin-top: 10px;
}

.product-title {
    margin-top: 50px;
}

.product-intro {
    margin-top: 50px;
}

.indiv-prod-headers {
    color: #f09583;
}

.product-details-price {
    color:#f09583;
    font-size: 1.25em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detail-ingred {
    margin-top: 50px;
}

.prod-info {
    padding-top: 10px;
}

.delivery-details {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: solid 2px #f09583;
    border-bottom: solid 2px #f09583;
}

/*--------------------------------- View cart page*/
.cart-page {
    min-height: 80vh;
    margin-bottom: 50px;
}
.cart-contents {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart-info {
    margin-top: 30px;
}

.qty-input {
    margin-left: 10px;
    margin-right: 10px;
}

.cart-hr {
    color: #ddd;
}

.cart-pound-sign {
    margin-left: 10px;
    margin-right: 10px;
}

.checkout-btn {
    background-color: #66CD00;
    color: white;
    margin-left: 20px;
}

.cart-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.total {
    margin-right: 10px;
}

/*--------------------------------- Checkout*/

.checkout-cart-items {
    border-right: solid 1px #baa999;
}


/*--------------------------------- Footer*/

footer {
    background-color: #43281e;
    color: white;
}

.footer-content {
    margin-top: 20px;
}

.footer-content ul {
    list-style-type: none;
}

.footer-link {
    color: #f09583;
    transition: 0.5s;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}

.social-links {
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-icon {
    font-size: 40px;
    margin-right: 20px;
}

/*---------------------------------Media Queries mobile and tablet screen*/
@media (max-width:450px) {
    .sm-display-none {
        display: none;
        }
    .footer-third-section {
        margin-left: 30px;
        }
    .social-links {
        margin-top: 0px;
        }
    }

@media (max-width:767px) {  
    .cart-info {
        text-align: center;
        margin-top: 10px;
        }
    .cart-img {
        height: 250px;
        width: 250px;
        }
    }  

@media (max-width:991px) {
    .cat-link-btn {
        margin-top: 10px;
        }
    }    

@media (min-width:768px) and (max-width:1460px) {
    .add-cart-input {
        max-width: 40%;
        } 
    }    

/*---------------------------------Media Queries large screen*/
@media (max-width:450px) {
    .sm-display-none {
        display: none;
        }
    .footer-third-section {
        margin-left: 30px;
        }
    .social-links {
        margin-top: 0px;
        }
    }

@media (max-width:767px) {  
    .cart-info {
        text-align: center;
        margin-top: 10px;
        }
    .cart-img {
        height: 250px;
        width: 250px;
        }
    }  

/*---------------------------------Media Queries large screen*/
@media (min-width:1200px) {
    .cart-width-container {
        max-width: 60%;
        } 
    .indiv-prod-top-right {
        padding-left: 40px;
        padding-right: 40px;
        }       
    }
