/*--------------------------------- Main Navigation*/
.nav {
    border-bottom: 8px solid #43281e;
} 

.nav-link-colour {
    color: #f09583;
    margin-right: 20px;
    transition: 0.5s;
}

.nav-link-colour:hover {
    color: #43281e;
}

.navbar-toggler-icon {
    color: #43281e;
    margin-top: 10px;
    font-size: 30px;
}

.navbar-toggler {
    padding: 4px 0px;
}

.nav-icon {
    font-size: 20px;
}

/*--------------------------------- General*/
.page-width-container, .cart-width-container {
    max-width: 80%;
}

.page-headers {
    text-align: center;
    margin-top: 20px;
    color: #f09583;
}

.button-colour {
    background-color: #42C0FB;
    color: white;
}

/*--------------------------------- All products page*/
.product-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-body {
    height: 100%;
    border: 2px solid #f09583;
}

.product-panel-content {
    text-align: center;
}

.product-panel-price {
    color:#f09583;
    font-size: 1.25em;
}

.product-panel-add {
    max-width: 80%;
    margin: 0 auto 20px;
}

.add-cart-input {
    margin-right: 20px;
    max-width: 20%;
}

/*--------------------------------- View cart page*/
.cart-page {
    min-height: 80vh;
    margin-bottom: 50px;
}
.cart-contents {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart-info {
    margin-top: 30px;
}

.qty-input {
    margin-left: 10px;
    margin-right: 10px;
}

.cart-hr {
    color: #ddd;
}

.pound-sign {
    margin-left: 10px;
    margin-right: 10px;
}

.checkout-btn {
    background-color: #66CD00;
    color: white;
    margin-left: 20px;
}

.cart-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/*--------------------------------- Footer*/

footer {
    background-color: #43281e;
    color: white;
}

.footer-content {
    margin-top: 20px;
}

.footer-content ul {
    list-style-type: none;
}

.footer-link {
    color: #f09583;
    transition: 0.5s;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}

.social-links {
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-icon {
    font-size: 40px;
    margin-right: 20px;
}

/*---------------------------------Media Queries mobile and tablet screen*/
@media (max-width:450px) {
    .sm-display-none {
        display: none;
        }
    .footer-third-section {
        margin-left: 30px;
        }
    .social-links {
        margin-top: 0px;
        }
    }

@media (max-width:767px) {  
    .cart-info {
        text-align: center;
        margin-top: 10px;
        }
    .cart-img {
        height: 250px;
        width: 250px;
        }
    }  

/*---------------------------------Media Queries large screen*/
@media (min-width:1200px) {
    .cart-width-container {
        max-width: 60%;
        } 
    }