/*--------------------------------- Main Navigation*/
.nav {
    border-bottom: 8px solid #43281e;
} 

.nav-link-colour {
    color: #f09583;
    margin-right: 20px;
    transition: 0.5s;
}

.nav-link-colour:hover {
    color: #43281e;
}

.navbar-toggler-icon {
    color: #43281e;
    margin-top: 10px;
    font-size: 30px;
}

.navbar-toggler {
    padding: 4px 0px;
}

.nav-icon {
    font-size: 20px;
}

/*--------------------------------- General*/
.page-width-container, .cart-width-container {
    max-width: 80%;
}

.page-headers {
    text-align: center;
    margin-top: 20px;
    color: #f09583;
}



.blue-btn {
    background-color: #42C0FB;
    color: white;
    transition: 0.5s;
}

.blue-btn:hover {
    background-color: #baa999;
    color: white;
}

.margin-top-50px {
    margin-top: 50px;
}

.page-height {
    min-height: 60vh;
}

.product-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    border: solid 2px #f09583;
    box-shadow: 9px 9px 10px -8px rgba(0,0,0,0.46);
        -webkit-box-shadow: 9px 9px 10px -8px rgba(0,0,0,0.46);
            -moz-box-shadow: 9px 9px 10px -8px rgba(0,0,0,0.46);
}

.back-to-top-link {
    color:#43281e;
    margin-top: 20px;
}

.back-to-top-link:hover {
    color:#baa999;
    text-decoration: none;
}

/*--------------------------------- Homepage*/
.home-intro {
    margin-top: 20px;
    padding: 10px 20px;
}

.cat-name {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5px;
    background-color: #f09583;
    border-radius: 10px;
    width: 60%;
}

.category-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    border: solid 2px #f09583;
    margin-top: 20px;
}

.cat-container {
    position: relative;
    text-align: center;
}

.cat-container figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.cat-container figure:hover img {
	opacity: .3;
}

.cat-container a {
    color: white;
}

/*--------------------------------- Login/register pages*/
.login-register-block {
    max-width: 40%;
    margin: 70px auto 150px;
    padding: 20px;
    border: solid 1px #f09583;
    border-radius: 10px;
}

.login-register-form {
    margin-bottom: 30px;
}

.login-register-block a {
    color: #f09583;
    transition: 0.5s;
}

.login-register-block a:hover {
    color: #ddd;
    text-decoration: none;
}

.log-reg-btn {
    margin-top: 10px;
}

/*--------------------------------- Individual category page*/



/*--------------------------------- All products page*/

.category-links {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cat-link {
    margin-top: 20px;
}

.product-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-title {
    color: #43281e;
    margin-top: 20px;
}

.card {
    border: none;
}

.product-block-price {
    color:#f09583;
    font-size: 1.25em;
    margin-top: 10px;
}

.add-cart-input {
    margin-right: 20px;
    max-width: 20%;
}

.form-control {
    padding: 6px;
}

.cat-link-btn {
    margin-top: 20px;
}

.add-cart-btn, .cat-link-btn {
    background-color:#f09583;
    color: white;
    transition: 0.5s;
}

.add-cart-btn:hover, .cat-link-btn:hover {
    background-color: #baa999;
    color: white;
}

.pound-sign {
    margin-right:5px;
}

.product-block-hr {
    background-color: #baa999;
    margin-top: 50px;
}

.page-num {
    font-size: 1.1em;
    padding: 0 10px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 3px;
    background-color:#baa999;
    color: white;
}

.page-num a {
    color: white;
}

.current-page {
    background-color: #f09583;
}

.page-num:hover {
    background-color: #ddd;
    color: #f09583;
}

.pagination-arrow {
    color: #ddd;
    margin-right: 10px;
    margin-left: 10px;
}

.pagination-arrow a {
    color: #f09583;
}

.pagination-arrow a:hover {
    color: #baa999;
}
/*--------------------------------- Individual product page*/

.individual-product-width {
    max-width: 60%;
}
 
.img-thumbnails {
    margin-top: 10px;
}

.product-title {
    margin-top: 50px;
}

.product-intro {
    margin-top: 50px;
}

.indiv-prod-headers {
    color: #f09583;
}

.product-details-price {
    color:#f09583;
    font-size: 1.25em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detail-ingred {
    margin-top: 50px;
}

.prod-info {
    padding-top: 10px;
}

.delivery-details {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: solid 2px #f09583;
    border-bottom: solid 2px #f09583;
}

/*--------------------------------- View cart page*/
.cart-page {
    min-height: 80vh;
    margin-bottom: 50px;
}
.cart-contents {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart-items {
    margin-top: 20px;
}

.cart-info {
    margin-top: 30px;
}

.qty-input {
    margin-left: 10px;
    margin-right: 10px;
}

.cart-hr {
    color: #ddd;
}

.cart-pound-sign {
    margin-left: 10px;
    margin-right: 10px;
}

.checkout-btn {
    background-color: #66CD00;
    color: white;
    margin-left: 20px;
}

.cart-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.total {
    margin-right: 10px;
}

/*--------------------------------- Checkout*/

.checkout-cart-items {
    margin-top: 20px;
}

.checkout-headings {
    margin-bottom: 20px;
}

.order-total {
    font-size: 1.25em;
}

/*--------------------------------- About us*/

.info-pages-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sub-headers {
    color: #f09583;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-img {
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid 2px #f09583; 
}

/*--------------------------------- Footer*/

footer {
    background-color: #43281e;
    color: white;
}

.footer-content {
    margin-top: 20px;
}

.footer-content ul {
    list-style-type: none;
}

.footer-link {
    color: #f09583;
    transition: 0.5s;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}

.social-links {
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-icon {
    font-size: 40px;
    margin-right: 20px;
}

/*---------------------------------Media Queries mobile and tablet screen*/
@media (max-width:450px) {
    .sm-display-none {
        display: none;
        }
    .footer-third-section {
        margin-left: 30px;
        }
    .social-links {
        margin-top: 0px;
        }
    }

@media (max-width:767px) {  
    .cart-info {
        text-align: center;
        margin-top: 10px;
        }
    .cart-img {
        height: 250px;
        width: 250px;
        }
    .info-pages-container {
        margin-top: 30px;
        }
    .page-width-container {
        max-width: 95%;
        }
    .about-img {
        margin-top: 15px;
        margin-bottom: 15px;
        }
    }  

@media (max-width:991px) {
    .cat-link-btn {
        margin-top: 10px;
        }
    }    

@media (min-width:768px) and (max-width:1460px) {
    .add-cart-input {
        max-width: 40%;
        } 
    }    

/*---------------------------------Media Queries large screen*/
@media (min-width:1200px) {
    .cart-width-container {
        max-width: 60%;
        } 
    .indiv-prod-top-right {
        padding-left: 40px;
        padding-right: 40px;
        }       
    }

@media (min-width:768px) {
.checkout-hr, .product-block-hr {
    display: none;
    }
}