{% extends "base.html" %}
{% block page_title %}Checkout{% endblock %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_heading %}Checkout{% endblock %}
<!--Block with Javascript that Stripe requires-->
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid cart-width-container marg-top-30 marg-bottom-50">
    <!--This section displays the items the customer is about to purchase from their cart-->
    <section>
        <div class="row row-flex cart-contents justify-content-center">
            {% for item in cart_items %}
                <div class="col-12 col-md-2 cart-items">
                    <div class="cart-img" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image1 }}')"></div>
                </div>
                <div class="col-12 col-md-6 cart-items">
                    <h5 class="cart-info cart-title">{{ item.product.title }}</h5>
                </div>
                <div class="col-12 col-md-2 cart-items">
                    <p class="cart-info">Qty: {{item.quantity}}</p>
                </div>
                <div class="col-12 col-md-2 cart-items">
                    <p class="cart-info"><i class="fas fa-pound-sign cart-pound-sign"></i>{{ item.product.price }}</p>
                    <hr class="cart-hr">
                </div>
            {% endfor %}
            <hr class="cart-hr">
        </div>
        
        <!--Total cost of order, showing amount the customer will be charged-->
        <div class="row justify-content-center order-total">
            <p class="total">Your order total is: </p>
            <p><span class="fas fa-pound-sign pound-sign"></span>{{ total }}</p>
        </div>
        <hr>
    </section>

    <section>
        <!--This section displays the forms for the customer to fill to complete the order-->
        <form role="form" method="post" id="payment-form" class="marg-top-50" action="{% url 'checkout' %}">
            <!--Stripe error messages display-->
            <div id="credit-card-errors" style="display: none;">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>

            <div class="container"> 
                <div class="row">
                    <!--Form for contact and shipping information-->
                    <div class="form-group col-md-6">
                        <h4 class="marg-bottom-20 pink-text">Personal & shipping info:</h4>
                        {{ order_form | as_bootstrap }}
                    </div>
                    <!--Form for card details to make payment-->
                    <div class="form-group col-md-6">
                        <h4 class="marg-bottom-20 pink-text">Payment Information:</h4>
                        {{ payment_form | as_bootstrap }}
                        {% csrf_token %}
                        <div class="form-group col-md-12">
                            <input class=" btn blue-btn marg-top-30" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <hr>
    </section>

</div>

{% endblock %}