{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block page_title %}Login Page{% endblock %} 
{% block page_heading %}Login{% endblock %} 
{% block content %}

<div class="container-fluid page-width-container page-height">
    <div class="login-register-block">
        <form class="login-register-form" method="POST">
            {% csrf_token %} 
            {{ login_form | as_bootstrap }}
            <button type="submit" class="btn blue-btn log-reg-btn">Login</button>
        </form>

        <p>Forgotton your password? <a href="{% url 'password_reset' %}">Reset password</a></p>
        <p>Don't have an account? <a href="">Register here</a></p>
    </div>
</div> 
{% endblock %}