{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Registration Page{% endblock %} 
{% block page_heading %}Register{% endblock %} 
{% block content %}

<div class="container-fluid page-width-container page-height">
    <div class="login-register-block">
        <p>Already have an account? <a href="{% url 'login' %}">Sign in here </a></p>
        <form class="login-register-form" method="POST">
            {% csrf_token %}
            {{ registration_form | as_bootstrap  }}
            <button type="submit" class="btn blue-btn log-reg-btn">Register</button>
        </form>
    </div>
</div>

{% endblock %}