{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Registration Page{% endblock %} 
{% block page_heading %}Register{% endblock %} 
{% block content %}

<div class="container-fluid page-width-container short-content">
    <!--Register form-->
    <div class="general-form-block">
        <!--Link to login-->
        <p class="reg-spacing">Already have an account? <a class="pink-link" href="{% url 'login' %}">Login here </a></p>
        <hr>
        <p class="reg-spacing"><i class="fas fa-exclamation-circle reg-exclam"></i>Please note all fields are required</p>
        <!--Registration form-->
        <form class="marg-bottom-30" method="POST">
            {% csrf_token %}
            {{ registration_form | as_bootstrap  }}
            <button type="submit" class="btn blue-btn general-form-btn">Register</button>
        </form>
    </div>
</div>

{% endblock %}