{% extends 'base.html' %}
{% block page_title %}Shopping cart{% endblock %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_heading %}Shopping cart{% endblock %}
{% block content %}

<!--Code that displays when there are items in the cart-->
{% if product_count > 0 %}
<div class="container-fluid cart-width-container short-content marg-bottom-50">cart-title
    <!--Displays items added to the cart-->
    <div class="row marg-bottom-50 marg-top-30">
        {% for item in cart_items %}
        <div class="col-12 col-md-2 cart-items">
            <div class="cart-img" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image1 }}')"></div>
        </div>
        <div class="col-12 col-md-4 cart-items">
            <a class="pink-link" href="{{ product.get_absolute_url }}"><h5 class="cart-info cart-title">{{ item.product.title }}</h5></a>
        </div>
        <div class="col-12 col-md-2 cart-items">
            <p class="cart-info"><i class="fas fa-pound-sign cart-pound-sign"></i>{{ item.product.price }}</p>
        </div>
        <div class="col-12 col-md-4 cart-items">
            <!--Form to adjust number of each product in the cart-->
            <form class="form-inline justify-content-center cart-form" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                    <div class="input-group">
                        <div class="input-group-addon">Qty:</div>
                        <input name="quantity" type="number" min="0" max="999" class="form-control qty-input" placeholder="{{item.quantity}}">
                        <div class="input-group-addon"></div>
                    </div>
                    <button type="submit" class="btn blue-btn update-btn">Update</button>
                </div>
            </form>
            <hr class="cart-hr">
        </div>
        {% endfor %}    
    </div>
   
    <hr class="cart-total-hr">
    <!--Displays the total of items in cart and link to checkout--> 
    <div class="row justify-content-end ">
        <h5 class="total">Total: </h5>
        <h5><i class="fas fa-pound-sign pound-sign"></i>{{ total }}</h5>
    </div>
    <div class="row justify-content-end">
    <a href="{% url 'checkout' %}" class="btn checkout-btn" role="button">Checkout</a>
    </div>
</div>
{% endif %}

<!--Code that displays when there are no items in the cart-->
{% if product_count == 0 %}
<div class="container-fluid short-content">
    <h2 class="empty-cart marg-top-50 center-text">Your cart is empty</h2>
    <div class="row justify-content-center ">
        <a href="{% url 'products' %}" class="btn blue-btn empty-cart-btn" role="button">Shop</a>
        <a href="{% url 'index' %}" class="btn blue-btn empty-cart-btn" role="button">Home</a>
    </div>
{% endif %}
</div>

{% endblock %}
